/*! PocketGrid 1.1.0
* Copyright 2013 Arnaud Leray
* MIT License
*/
/* Border-box-sizing */
.block-group, .block, .block-group:after, .block:after, .block-group:before, .block:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clearfix */
.block-group {
  *zoom: 1;
}
.block-group:before, .block-group:after {
  display: table;
  content: "";
  line-height: 0;
}
.block-group:after {
  clear: both;
}

.block-group {
  /* ul/li compatibility */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Nested grid */
.block-group > .block-group {
  clear: none;
  float: left;
  margin: 0 !important;
}

/* Default block */
.block {
  float: left;
  width: 100%;
  padding: 0 5px;
}

.block-group  .block:first-child {
  padding: 0 5px 0 0;
}

.block-group  .block:last-child {
  padding: 0 0 0 5px;
}

.no-gutter > .block {
  padding: 0 0 0 0!important;
}

.row.no-margin {
  margin: 0 auto 0 auto;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.row {
  max-width: 980px;
  min-width: 980px;
  margin: 0 auto 10px auto;
}

.col-padded {
  padding: 0 10px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.float-fix:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  clear: both;
}

.block:last-child {
  padding-right: 0;
}